xsd_schemas/cs_blockInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	targetNamespace="http://www.witsml.org/schemas/1series" 
	xmlns:witsml="http://www.witsml.org/schemas/1series" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="1.4.0">
	<!--                                                         -->
	<!-- Energistics License Agreement
	This file is distributed under the Energistics License Agreement at
	http://www.energistics.org
	Use of this file constitutes agreement with the Energistics License Agreement.
	Copyright (c) 2008 Energistics. All rights reserved.
	Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
	-->
	<!--                                                         -->
	<xsd:include schemaLocation="cs_blockCurveInfo.xsd"/>
	<xsd:include schemaLocation="cs_extensionNameValue.xsd"/>
	<!--                                                         -->
	<xsd:complexType name="cs_blockInfo">
		<xsd:annotation>
			<xsd:documentation>Describes a well log data block.	</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="curveSensorsAligned" type="witsml:logicalBoolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This value is only relevant within the context of a server.
					True ("true" or "1") indicates that all curves have
					the same sensor offset from the downhole equipment vertical reference. 
					False ("false" or 0") or not given indicates otherwise.
					For a growing log, a value of true will allow a query 
					to use the the endIndex from the previous query as the startIndex of the next query.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-78, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataRowCount" type="witsml:nonNegativeBigCount" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The number of data rows in the persistent block. 
					If a value is specified for this element in a query then the 
					server will limit the number of data rows in the result
					but the return value will still be the number of data rows in 
					the persistent block. If the count is zero then any min,max or start,end values are meaningless.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-114, Change=Changed-type-from:positiveBigCount</xsd:appinfo>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-114, Change=Modified-description</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pass" type="witsml:str16" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Identifies the pass within the run.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="witsml:descriptionString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A description of the block. For example, 'main log section', 
					'repeat section', 'logged going in hole' 'main log section, curve group 1', 
					'composite'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indexType" type="witsml:LogIndexType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Primary index type.
					The index may be a quantity type or it may be a dateTime type.
					At least one of the index sets must be given. If both are given then "indexType" and 
					"indexCurve" must represent an elapsed time from "startDateTimeIndex".
					The start and end indexes are server query parameters and will be 
					populated with valid values in a GetFromStore result.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="startIndex" type="witsml:genericMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>When the direction is defined as "Increasing", 
					the startIndex is the starting (minimum) index value at which the first data point
					is located.  When the log header defines the direction as "Decreasing", the startIndex 
					is the starting (maximum) index value at which the first data point is located. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="endIndex" type="witsml:genericMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>When the direction is defined as "Increasing", the endIndex 
					is the ending (maximum) index value at which the last data point is located.  
					When the log header defines the direction as Decreasing, the endIndex is the ending 
					(minimum) index value at which the last data point is located.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stepIncrement" type="witsml:ratioGenericMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The sampling increment. Set to zero for unequal sampling.
					A non-zero value indicates that the data is regularly sampled even if it has an explicit index curve.
					If it is zero or not given then assume that it is non-regular even though it may be regular.
					The problem is that writers generally cannot guarantee the regularity of the log until after they have finished processing it
					For curves that are originally sampled at a constant increment, this value should
					be retained because calculated values may have cumulative errors.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-24, Change=Modified-description</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="startDateTimeIndex" type="witsml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>When the direction is defined as "Increasing", 
					the startIndex is the starting (minimum) index value at which the first data point
					is located.  When the log header defines the direction as "Decreasing", the startIndex 
					is the starting (maximum) index value at which the first data point is located.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="endDateTimeIndex" type="witsml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>When the direction is defined as "Increasing", the endIndex 
					is the ending (maximum) index value at which the last data point is located.  
					When the log header defines the direction as Decreasing, the endIndex is the ending 
					(minimum) index value at which the last data point is located. 
					This value is optional when startDateTimeIndex represents a reference for elapsed times.
					Otherwise, it should be defined when startDateTimeIndex is defined. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="direction" type="witsml:LogIndexDirection" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The polarity of change in index values associated with successive data records.
					Increasing or Decreasing. Mixed is not a valid value.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indexCurve" type="witsml:indexCurve" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The mnemonic of the index curve plus the column index.
					A column index of zero indicates an implied trace whose values start at startIndex 
					and increment by stepIncrement for each row.
					Duplicate index values can exist in a block but a change of direction is not allowed.
					If a change of direction is required then a new block must be created.
					Some servers may eliminate (i.e., overwrite) duplicate indexes.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-108, Change=Modified-description</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nullValue" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>DEPRECATED. 
					An empty string is the default representation of a null value for a 
					curve (i.e. when the null value representation is not explicitly defined). 
					If a null value representation is defined for a block, this becomes the default for all curves
					in that block (overriding any null value at the log level) but can be overridden at the curve level.
					An empty string is always a valid null value representation in the comma delimited list.
					An empty string is not a valid null value representation within a space delimited or base64 encoded array.
					Specifying a null value also makes it easier to transform data back to a 
					legacy format without having to scan the data to insure that the null pattern 
					does not exist in the data.
					</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-113, Change=Deprecated</xsd:appinfo>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-113, Change=Modified-description</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="logParam" type="witsml:indexedObject" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Log parameters that apply to this block.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="blockCurveInfo" type="witsml:cs_blockCurveInfo" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A curve occurring in data records defined by this block, 
					and its position within the data record. 
					Each curve in the block must have a different mnemonic.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extensionNameValue" type="witsml:cs_extensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Extensions to the schema based on a name-value construct.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-71, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="uid" type="witsml:uidString" use="required">
			<xsd:annotation>
				<xsd:documentation>Unique identifier for the block.
				This value must be unique within the context of the wellLog.
				This value will be pointed to by data levels that are associated with this block.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!--                                                         -->
</xsd:schema>
