xsd_schemas/cs_logCurveInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	targetNamespace="http://www.witsml.org/schemas/1series" 
	xmlns:witsml="http://www.witsml.org/schemas/1series" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="1.4.0">
	<!--                                                         -->
	<!-- Energistics License Agreement
	This file is distributed under the Energistics License Agreement at
	http://www.energistics.org
	Use of this file constitutes agreement with the Energistics License Agreement.
	Copyright (c) 2008 Energistics. All rights reserved.
	Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
	-->
	<!--                                                         -->
	<xsd:include schemaLocation="cs_extensionNameValue.xsd"/>
	<xsd:include schemaLocation="cs_axisDefinition.xsd"/>
	<xsd:include schemaLocation="attgrp_uid.xsd"/>
	<!--                                                         -->
	<xsd:complexType name="cs_logCurveInfo">
		<xsd:annotation>
			<xsd:documentation>WITSML Log - Curve Information</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mnemonic" type="witsml:str32" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The curve name.  
					This must be unique for all curves in a log.
					Since both the mnemonic and uid have similar requirements within the context 
					of a WITSML server, the uid can be derived from the mnemonic.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-5, Change=Modified-description</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="classWitsml" type="witsml:RealtimeData" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The curve classification obtained from a lookup in the vendors 
				mnemonic catalog.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="classIndex" type="witsml:positiveCount" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The count relative to (possibly) repeating values of classWitsml.
					This is used to indicate something like the first pump, second pump, etc.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-78, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="unit" type="witsml:uomString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unit of measurement of the data values. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mnemAlias" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Name alias for this trace.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nullValue" type="witsml:encodedValueString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>An empty string is the default representation of a null value for a 
					curve (i.e., when the null value representation is not explicitly defined). 
					If a null value is defined in the logCurveInfo, it overrides any null value specified at the 
					logHeader level. An empty string is always a valid null value representation in the comma delimited list.
					An empty string is not a valid null value representation within a space delimited array.
					Specifying a null value also makes it easier to transform data back to a 
					legacy format without having to scan the data to insure that the null pattern 
					does not exist in the data. </xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-110, Change=Fix-typo</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alternateIndex" type="witsml:logicalBoolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>True (true or 1) if this curve is a candidate to be a primary index.
					False (false or 0) or not given, indicates otherwise.
					An index curve should monotonically change when sorted on its own values (i.e., no duplicates). </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wellDatum" type="witsml:refNameString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A pointer to the wellDatum that represents the values of this trace.
					This is only relevant for measured depths, vertical depths or elevations.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="minIndex" type="witsml:genericMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The minimum index value at which the first valid data point is located. 
					This value will be properly set by the server to reflect data in the returned document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maxIndex" type="witsml:genericMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The maximum index value at which the last valid data point is located.
					This value will be properly set by the server to reflect data in the returned document. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="minDateTimeIndex" type="witsml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The minimum index value at which the first valid data point
					is located. This value will be properly set by the server to reflect data 
					in the returned document. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maxDateTimeIndex" type="witsml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The maximum index value at which the last valid data point 
					is located. This value will be properly set by the server to reflect data 
					in the returned document. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="columnIndex" type="witsml:nonNegativeCount" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A 1-based index of data in the LOGDATA.DATA section.
					A value of zero indicates an implied curve with no values in the data record.
					If data records are not returned then the values have no meaning and each server
					may return different values (e.g., all ones or all zeros).</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-72, Change=Modified-description</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="curveDescription" type="witsml:descriptionString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the curve.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sensorOffset" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Offset of sensor from a downhole equipment vertical reference (the
					drill bit, for MWD logs;  the tool zero reference for wireline
					logs).  This element is only informative (log values are presented
					at actual depth, not requiring subtraction of an offset).</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-110, Change=Modified-description</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataSource" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Data source, could be tool name/id.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="densData" type="witsml:perLengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Data density of sample in samples per length unit.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="traceState" type="witsml:LogTraceState" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>State of trace data.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="traceOrigin" type="witsml:LogTraceOrigin" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Origin of trace data.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typeLogData" type="witsml:LogDataType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Log data type.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-74, Change=Made-mandatory</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="axisDefinition" type="witsml:cs_axisDefinition" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Indicates that the curve is an array curve (i.e., multi-valued samples), 
					and provides meta data by which an axis of the array can be understood.
					A separate definition is required for each axis of an N-dimensional array.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-110, Change=Modified-description</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extensionNameValue" type="witsml:cs_extensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Extensions to the schema based on a name-value construct.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-71, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="witsml:attgrp_uid">
			<xsd:annotation>
				<xsd:documentation>Unique identifier for the curve.
				A suggested algorithm for creating the uid is to derive it from the mnemonic (e.g., converting blanks to underscores). </xsd:documentation>
				<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-5, Change=Modified-description</xsd:appinfo>
			</xsd:annotation>
		</xsd:attributeGroup>
	</xsd:complexType>
</xsd:schema>
